<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.skubit.comics">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/AppTheme"
            android:name=".SkubitApplication"
            tools:replace="icon, label">

        <activity
                android:name=".activities.MainActivity"
                android:label="@string/app_name"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.skubit.comics.MY_COMICS"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="com.skubit.activities.SearchActivity" />
        </activity>
        <activity
                android:name=".activities.SearchActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".activities.AddComicsToCollectionActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.AddToCollectionActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CollectionFilterActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.ComicViewerActivity"
                android:label="@string/app_name"
                android:exported="true"
                android:parentActivityName="com.skubit.comics.activities.MainActivity">
        </activity>
        <activity
                android:name=".activities.ComicDetailsActivity"
                android:label="@string/app_name"
                >
        </activity>
        <activity
                android:name=".activities.ComicFilterActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CoverArtActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CreateCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DeleteCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DeleteFromCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DisplayLicensesActivity"
                android:label="@string/app_name"
                android:theme="@style/ComicViewerTheme">
        </activity>
        <activity
                android:name=".activities.DownloadDialogActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.ScreenshotsActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.SeriesActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CatalogActivity"
                android:label="@string/app_name">
        </activity>
        <provider
                android:name="com.skubit.comics.provider.ComicsProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"/>

        <receiver android:name="com.skubit.comics.DownloadCompleteHandler">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <service
                android:name="com.skubit.comics.DownloadService"
                android:enabled="true">
        </service>
        <service
                android:name="com.skubit.comics.OrderService"
                android:enabled="true">
        </service>
    </application>

</manifest>
