<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.skubit.comics">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.skubit.BILLING"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_skubit"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/AppTheme"
            android:name=".SkubitApplication"
            tools:replace="icon, label">

        <activity
                android:name=".activities.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.AddComicsToCollectionActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.AddToCollectionActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CollectionFilterActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.ComicViewerActivity"
                android:label="@string/app_name"
                android:exported="true">
        </activity>
        <activity
                android:name=".activities.ComicDetailsActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.ComicFilterActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".activities.CreateCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DeleteCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DeleteFromCollectionActivity"
                android:label="@string/app_name"
                android:theme="@style/PurchaseDialog">
        </activity>
        <activity
                android:name=".activities.DisplayLicensesActivity"
                android:label="@string/app_name"
                android:theme="@style/ComicViewerTheme">
        </activity>
        <provider
                android:name="com.skubit.comics.provider.ComicsProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"/>

        <receiver android:name="com.skubit.comics.DownloadCompleteHandler">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <service
                android:name="com.skubit.comics.DownloadService"
                android:enabled="true">
        </service>
        <service
                android:name="com.skubit.comics.LockerUpdaterService"
                android:enabled="true">
        </service>
    </application>

</manifest>
